:root {
 --light-accent: #000483;
 --dark-accent: #00085a;
}

body {
 background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
  url("../cool-background.png");
 object-fit: cover;
 color: white;
 padding: 5% 0;
 font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#check-btn {
 background-color: var(--light-accent);
 border: 2px inset var(--dark-accent);
 border-radius: 8px;
 padding: 5px 15px;
 margin-left: 10px;
 color: white;
 transition: 200ms all ease-in-out;
}

#check-btn:hover {
 cursor: pointer;
 background-color: var(--dark-accent);
 border: 2px outset var(--light-accent);
}

footer {
 text-align: center;
 margin: 15% auto 1rem;
 font-size: 1.2rem;
 background-color: rgba(0, 0, 0, 0.65);
 padding: 5px;
 max-width: 50vw;
 border-radius: 10px;
}

footer a {
 color: #7daeff;
}

.input-wrap {
 text-align: center;
 margin: auto;
 display: block;
}

input,
main,
button {
 font-size: 1.2rem;
}

header {
 text-align: center;
 font-size: 1.7rem;
}

h1 {
 text-shadow: 0px 0px 20px black;
}

label {
 display: block;
 margin-bottom: 1.5rem;
 text-align: center;
}

main {
 display: block;
 max-width: 500px;
 margin: auto;
}

main section {
 border-radius: 10px;
 background-color: rgba(0, 0, 0, 0.65);
}

main section:first-of-type {
 padding: 20px 10px;
}

main section:last-of-type {
 margin: 10% 0;
 font-size: 1.3rem;
 padding: 5px 10px;
}

#result {
 text-align: center;
 margin: 10px 0;
}

#text-input {
 border-color: transparent;
 border-bottom: 2px solid var(--light-accent);
 background-color: transparent;
}
