:root {
 --light-accent: #415a77;
 --dark-accent: #778da9;
}

body {
 background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
  url("../cool-background.png");
 object-fit: cover;
 color: white;
 padding: 5% 0;
 font-family: "Poppins", sans-serif;
}

* {
 box-sizing: border-box;
}

a {
 color: var(--light-accent);
}

#check-btn {
 background-color: var(--light-accent);
 border: 2px inset var(--dark-accent);
 border-radius: 8px;
 padding: 5px 15px;
 margin-left: 10px;
 transition: 200ms all ease-in-out;
 color: white;
}

#check-btn i {
 display: none;
}

#check-btn .desktop-btn {
 display: contents;
}

#check-btn:hover {
 cursor: pointer;
 background-color: var(--dark-accent);
 border-style: outset;
}

footer {
 text-align: center;
 margin: 15% auto 1rem;
 font-size: 1.2rem;
 background-color: rgba(0, 0, 0, 0.65);
 padding: 5px;
 max-width: 50vw;
 border-radius: 10px;
}

.input-wrap {
 text-align: center;
 margin: auto;
 display: block;
}

input,
main,
button {
 font-size: 1.2rem;
}

input,
button {
 font-family: "Poppins", sans-serif;
}

header {
 text-align: center;
 font-size: 1.7rem;
}

h1 {
 text-shadow: 0px 0px 20px black;
}

h2 {
 margin-bottom: 0;
 font-size: 1.4rem;
}

h3 {
 opacity: 0.8;
 font-weight: normal;
 margin-top: 0.5rem;
 font-size: 1.3rem;
}

label {
 display: block;
 margin-bottom: 1.5rem;
 text-align: center;
}

main {
 display: block;
 max-width: 600px;
 margin: auto;
}

main section {
 border-radius: 10px;
 background-color: rgba(0, 0, 0, 0.65);
 border: 2px inset var(--dark-accent);
}

main section:first-of-type {
 font-size: 1.3rem;
 padding: 20px 10px;
}

main section:last-of-type {
 margin: 10% 0;
 padding: 5px 10px;
 font-size: 1.2rem;
}

#result {
 text-align: center;
 margin: 10px 0;
 max-width: 500px;
 overflow: auto;
}

#text-input {
 border: 2px solid var(--light-accent);
 background-color: transparent;
 color: white;
 width: 70%;
 padding: 5px;
 border-radius: 10px;
}

@media only screen and (max-width: 600px) {
 #check-btn .desktop-btn {
  display: none;
 }

 #check-btn i {
  display: block;
  color: black;
  padding: 5px;
 }

 footer {
  max-width: 90vw;
 }

 header {
  font-size: 1rem;
 }

 #text-input {
  width: 70%;
 }
}
